/*  
  By ZHOU,BAOJUN 2016/4
  Reference: https://s1.wp.com/_static/??-eJx9Uu1uwyAMfKFRNCmJ1B/TngWIV9wARhiW9e3nNGsmrRN/0Pl85w9Ar1k5ShVS1bGpHNoFE+s1O4qKIwa4/YlOjvlF/2/jZtkVzBVJog8Kgdae3tMnFGWbtQHEXW8BDjkmF9ostBB6NuxRCvApYnqWXFlXyS+Wvg7Q6xtw2VxQs3GLukfdtTyV6ugxDAcU6GlVR6LnNrPMrKwpP/d4xLsJdaJ63+0AvWqOCggfs6mbIsKMBgJEkfVsMU8P1wa97N1ts49qbS7ArOSM2KKqXho9+3Za52Z1hiQ/wFTnf5/zPb69DuN5GKZpHK/f74zr2g==
*/


/* default */

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    font-family: "Roboto Slab", Georgia, Times, serif;
    font-size: 15px;
    color: #666;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    font-weight: 300;
    line-height: 27px;
    height: 100%;
}

body {
    /*background-color: #fff;*/
    height: 100%;
}


/* text */

h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 27px 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 27px 0;
}

h3 {
    font-size: 18px;
    line-height: 1.36em;
    margin: 0;
    padding-bottom: 14px;
    letter-spacing: 1px;
    color: #999;
    border-bottom: 1px solid #eee;
}

p {
    margin-bottom: 27px;
}

ul {
    margin: 0 0 24px 20px;
}


/* Links */

a {
    text-decoration: none;
    color: #1c7c7c;
}

a:visited {
    color: #1c7c7c;
}

a:hover, a:focus, a:active {
    color: #999;
}


/* Others */

#main-layer {
    /*height: 100%;*/
    width: 100%;
    /*background-color: #fff;*/
    /*overflow: auto;*/
    /*transition: -webkit-filter 0.5s; 
  transition: filter 0.5s; 
  transition: filter 0.5s, -webkit-filter 0.5s;*/
}

.customScrollbar {
    height: 100%;
    overflow: auto;
}

.background {
    background: url("../image/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    /*padding-bottom: 1px;*/
}

.background2 {
    background: url("../image/Background2.png");
}

.card {
    /*margin: 8px auto 7px;*/
    margin: 0 auto;
    min-width: 20em;
    max-width: 55em;
    padding: 10px;
}

.header {
    float: right;
    width: 100%;
    margin: 0 0 27px;
    padding: 0 0 24px;
    border-bottom: 3px solid #eee;
}

.avater {
    float: left;
    padding-top: 30px;
    display: none;
}

.small-avater {
    float: left;
    margin-right: 15px;
}

.main {
    margin: 0 0 27px;
}

.backtop {
    font-weight: normal;
    text-align: right;
}

.footer {
    font-size: 0.8125em;
    line-height: 0.7em;
    clear: both;
    width: 100%;
    margin: 24px 0 0;
    padding: 30px 0 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    border-top: 3px solid #eee;
}

.hint::selection {
    color: #fff;
    background: #9b59b6;
}

.footer-hidden {
    color: #FFF;
    font-size: 0.5em;
    /*text-shadow: 0px 0px 1px rgba(0,0,0,.5) !important;*/
}

#loader {
    /*background-color: #111;*/
    /*opacity: 0.8;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    animation-fill-mode: both;
}

#loader>div {
    animation-name: loading;
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(0.85, 0.25, 0.37, 0.85);
    animation-iteration-count: infinite;
    border-radius: 2px;
    margin: 2px;
    background-color: #666;
    width: 4px;
    height: 35px;
}

.loader-delay1 {
    animation-delay: .4s;
}

.loader-delay2 {
    animation-delay: .2s;
}


/*.blur { 
  -webkit-filter: blur(50px); 
          filter: blur(50px);
}*/

.blur-in {
    animation: 0.5s blur-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.blur-out {
    animation: 0.5s blur-out;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.loader-in {
    animation: 0.5s loader-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.loader-out {
    animation: 0.5s loader-out;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes blur-in {
    0% {
        /*transform: scale(0.6,0.6);*/
        opacity: 0;
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }
    100% {
        /*transform: scale(1,1);*/
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        /*transform: scale(1,1);*/
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    100% {
        /*transform: scale(0.6,0.6);*/
        opacity: 0;
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }
}

@keyframes loading {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.4);
    }
}

@keyframes loader-in {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes loader-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-150px);
    }
}


/* Media Queries */

@media screen and (min-width: 55em) {
    body {
        font-size: 1.2em;
        line-height: 1.7em;
    }
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
    .card {
        padding: 40px;
    }
    .avater {
        display: inherit;
        width: 230px;
    }
    .info {
        margin-left: 260px;
    }
}

@media screen and (min-width: 42em) and (max-width: 55em) {
    .avater {
        display: inherit;
        width: 200px;
    }
    .info {
        margin-left: 230px;
    }
    .card {
        padding: 20px;
    }
}

@media screen and (min-width: 42em) {
    .small-avater {
        display: none;
    }
}


/* Scroll Bar */

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 transparent;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece { 
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.6);
}